<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>
    <div class="container">

        <header class="header">
            <a href="index.html"><img src="images/GRINTI.png" class="logo"></img></a>
            <a href=""><img src="images/drapeau_en.png" class="flag" /></a>
            <a href=""><img src="images/drapeau_fr.jpg" class="flag" /></a>

            <div id="navigation">

                <nav>
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li class="deroulant"><a href="">Evénements </a>
                            <ul class="sous">
                                <li><a href="event_list.html">Liste</a></li>
                                <li><a href="create_event.html">Créer</a></li>
                                <li><a href="join_event.html">Rejoindre</a></li>
                            </ul>
                        </li>
                        <li><a href="infos_pratique.html">Infos pratique</a></li>
                        <li><a href="galerie.html">Galerie</a></li>
                        <li class="deroulant"><a href="">Utilisateurs </a>
                            <ul class="sous">
                                <li><a href="my_information.html">Mes infos</a></li>
                                <li><a href="my_event.html">Mes événements</a></li>
                                <li><a href="all_stats.html">Mes stats</a></li>
                                <li><a href="">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <div id="corps">
            <h1>FAQ</h1>
            <div class="faq-section">
                <h5>Une fois inscrit à un événements, que se passe t'il ?</h5>
                <p>Une fois que vous êtes inscrit à un événement vous aurez accès aux informations de
                    l'organisateur ainsi que des participants. Les informations principales comme les détails
                    ou encore le lieu du RDV sont accessibles dans l'événement. Vous pouvez y accéder en allant
                    sur votre espace personnel et <a href="my_event.html" target="_blank" title="Tutoriels HTML">mes
                        événements</a>.
                    Si jamais vous ne trouvez pas ce que vous recherchez vous avez les coordonnées de l'organisateur
                    en cas de soucis.
                </p>
            </div>
            <div class="faq-section">
                <h5>Comment sont revalorisés les déchets ramassés ?</h5>
                <p>A la fin des ramassages, nous récoltons tous les déchets ramassés par nos bénévoles. Ces déchets
                    sont ensuite trié selon s'ils sont recyclable ou pas. Nous avons des partenariats avec des
                    entreprises
                    ou écoles qui vont réutilisé ces déchets selon leurs besoins et leurs donner une seconde vie.
                </p>
            </div>

            <div class="faq-section">
                <h5>J'ai un empêchement de dernière minute, puis-je annuler une inscription ?</h5>
                <p>Oui, nous comprenons tout à fait qu'en dehors de ce type de projet nous avons d'autres
                    responsabilités. Pour annuler, vous pourrez le faire à partir de votre page d'accueil
                    dans <a href="my_event.html" target="_blank" title="Tutoriels HTML">vos événements</a>
                    à venir, vous verrez un bouton annuler.
                </p>
            </div>

            <div class="faq-section">
                <h5>Que se passe t'il en cas de mauvais temps ?</h5>
                <p>En cas de pluie, l'événement aura quand même lieu sauf avis contraire de l'organisateur.
                    Lors de nos événements, une tonnelle est installé qui sert aussi d'abri pour les temps pluvieux.
                    Si vous souhaitez tout de même venir, nous vous conseillons d'emmener vos vêtements de pluie.
                    Lorsqu'il s'agit d'orage, vous serez dès que possible par l'organisateur de l'annulation
                    du ramassage.
                </p>
            </div>

            <div class="faq-section">
                <h5>Qui peut organiser des événements ?</h5>
                <p>Tout le monde a la possibilité d'organiser des événements. Toutefois, il vous faudra obtenir vous
                    même les autorisations nécessaires. N'hésitez pas à nous contacter pour plus détail sur les
                    différentes
                    démarches à effectuer.
                </p>
            </div>

            <div class="faq-section">
                <h5>Comment obtenir les autorisations nécessaires ?</h5>
                <p>Afin d'obtenir les différentes autorisations, nous vous invitons à contacter la mairie du lieu de
                    l'événement. Ils sauront vous guider et vous fournir les papiers nécessaires.
                </p>
            </div>

            <div class="faq-section">
                <h5>Comment fonctionnent les statistiques ?</h5>
                <p>Les statistiques sont calculées une fois que vous rentré la quantité de déchets ramassés.
                    Ils sont ensuite mis à jour après chaque événements. Nous utilisons ensuite ces données
                    pour informer et convaincre les personnes de nous rejoindre.
                </p>
            </div>

        </div>

        <footer class="footer">
            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Informations</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="about_us.html">Qui sommes nous?</a>
                        </li>

                        <li>
                            <a href="accueil.html">Accueil</a>
                        </li>

                        <li>
                            <a href="">Partenariats</a>
                            <a href="https://adaming.fr/" target="_blank" rel="noopener noreferrer"><img
                                    src="images/adaming.png" class="footer__img" /></a>
                            <a href="https://www.intiformation.com/" target="_blank" rel="noopener noreferrer"><img
                                    src="images/inti.png" class="footer__img" /></a>
                            <a href="https://www.soprasteria.com/" target="_blank" rel="noopener noreferrer"><img
                                    src="images/sopra.png" class="footer__img" /></a>
                        </li>
                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Légal</h2>

                    <ul class="nav__ul nav__ul--extra">
                        <li>
                            <a href="CGU.html">CGU</a>
                        </li>

                        <li>
                            <a href="FAQ.html">FAQ</a>
                        </li>

                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Nous joindre</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="mailto:adrien.marmillon@gmail.com">Contacts</a>
                        </li>

                        <li>
                            <a href="">Réseaux</a><br>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i
                                    class='bi bi-facebook'></i></a>
                            <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i
                                    class="bi bi-linkedin"></i></a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i
                                    class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="legal">
                <p>&copy; 2022 INTI Formation. All rights reserved.</p>

                <div class="legal__links">
                    <span>Made with <span class="heart">♥</span> by
                        <a href="https://www.linkedin.com/in/alaric-ermeneg-b812a219b" target="_blank"
                            rel="noopener noreferrer">Alaric</a>,
                        <a href="https://www.linkedin.com/in/bastien-degraeve/" target="_blank"
                            rel="noopener noreferrer">Bastien</a> &
                        <a href="http://www.linkedin.com/in/adrien-marmillon" target="_blank"
                            rel="noopener noreferrer">Adrien</a>
                    </span>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>