<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" 
    integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">

        <header class="header">
            <a href="index.html"><img src="images/GRINTI.png" class="logo"></img></a>
            <a href=""><img src="images/drapeau_en.png" class="flag"/></a>
            <a href=""><img src="images/drapeau_fr.jpg" class="flag"/></a>
           
            <div id="navigation">

                <nav>
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li class="deroulant"><a href="">Evénements </a>
                            <ul class="sous">
                                <li><a href="event_list.html">Liste</a></li>
                                <li><a href="create_event.html">Créer</a></li>
                                <li><a href="join_event.html">Rejoindre</a></li>
                            </ul>
                        </li>
                        <li><a href="infos_pratique.html">Infos pratique</a></li>
                        <li><a href="galerie.html">Galerie</a></li>
                        <li class="deroulant"><a href="">Utilisateurs </a>
                            <ul class="sous">
                                <li><a href="my_information.html">Mes infos</a></li>
                                <li><a href="my_event.html">Mes événements</a></li>
                                <li><a href="all_stats.html">Mes stats</a></li>
                                <li><a href="">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>


        <div class="corps_gal">
            <h1 style="text-align: center;">Galerie photo</h1>
            <p>
                <div class="diap1">
                <div class='caroussel_diapo'>
                    <h3>Evennement : Séné</h3>
                    <input checked id="carou_un" name="rotation" type="radio">
                    <label for="carou_un"></label>
                    <input id="carou_deux" name="rotation" type="radio">
                    <label for="carou_deux"></label>
                    <input id="carou_trois" name="rotation" type="radio">
                    <label for="carou_trois"></label>
                    <input id="carou_quatre" name="rotation" type="radio">
                    <label for="carou_quatre"></label>
                    <input id="carou_cinq" name="rotation" type="radio">
                    <label for="carou_cinq"></label>
                    <input id="carou_six" name="rotation" type="radio">
                    <label for="carou_six"></label>
                    <input id="carou_sept" name="rotation" type="radio">
                    <label for="carou_sept"></label>
                    <input id="carou_huit" name="rotation" type="radio">
                    <label for="carou_huit"></label>
                    <div class="contenu_carou">
                    <div class="caroussel">
                    <img src="images/dsc_0012.jpg" alt>
                    <img src="images/dsc_0026.jpg" alt>
                    <img src="images/dsc_0028.jpg" alt>
                    <img src="images/dsc_0031.jpg" alt>
                    <img src="images/dsc_0030.jpg" alt>
                    <img src="images/dsc_0035.jpg" alt>
                    <img src="images/dsc_0038.jpg" alt>
                    <img src="images/dsc_0040.jpg" alt>
                    </div>
                    </div>
                    </div>

                </div>
            

<div class="diap1">
                    <div class='caroussel_diapo1'>
                        <h3>Evennement : La Baule</h3>
                        <input checked id="carou_neuf" name="rotation" type="radio">
                        <label for="carou_neuf"></label>
                        <input id="carou_dix" name="rotation" type="radio">
                        <label for="carou_dix"></label>
                        <input id="carou_onze" name="rotation" type="radio">
                        <label for="carou_onze"></label>
                        <input id="carou_douze" name="rotation" type="radio">
                        <label for="carou_douze"></label>
                        <input id="carou_treize" name="rotation" type="radio">
                        <label for="carou_treize"></label>
                        <input id="carou_quatorze" name="rotation" type="radio">
                        <label for="carou_quatorze"></label>
                        <input id="carou_quinze" name="rotation" type="radio">
                        <label for="carou_quinze"></label>
                        <input id="carou_seize" name="rotation" type="radio">
                        <label for="carou_seize"></label>
                        <div class="contenu_carou1">
                        <div class="caroussel1">
                        <img src="images/dsc_0056.jpg" alt>
                        <img src="images/dsc_0059.jpg" alt>
                        <img src="images/IMG_1773.jpg" alt>
                        <img src="images/DSC_1293_.JPG" alt>
                        <img src="images/IMG_1746.jpg" alt>
                        <img src="images/IMG_1747.jpg" alt>
                        <img src="images/IMG_1761.jpg" alt>
                        <img src="images/IMG_1801.jpg" alt>
                        </div>
                        </div>
                        </div>
                    </div>
                        

                        <div class="diap1">
                        <div class='caroussel_diapo2'>
                            <h3>Evennement : Nantes</h3>
                            <input checked id="carou_1" name="rotation" type="radio">
                            <label for="carou_1"></label>
                            <input id="carou_2" name="rotation" type="radio">
                            <label for="carou_2"></label>
                            <input id="carou_3" name="rotation" type="radio">
                            <label for="carou_3"></label>
                            <input id="carou_4" name="rotation" type="radio">
                            <label for="carou_4"></label>
                            <input id="carou_5" name="rotation" type="radio">
                            <label for="carou_5"></label>
                            <input id="carou_6" name="rotation" type="radio">
                            <label for="carou_6"></label>
                            <input id="carou_7" name="rotation" type="radio">
                            <label for="carou_7"></label>
                            <input id="carou_8" name="rotation" type="radio">
                            <label for="carou_8"></label>
                            <div class="contenu_carou2">
                            <div class="caroussel2">
                            <img src="images/bimg1.jpg" alt>
                            <img src="images/bimg2.jpg" alt>
                            <img src="images/bimg3.jpg" alt>
                            <img src="images/bimg4.jpg" alt>
                            <img src="images/bimg5.jpg" alt>
                            <img src="images/bimg6.jpg" alt>
                            <img src="images/bimg7.jpg" alt>
                            <img src="images/bimg8.jpg" alt>
                            </div>
                            </div>
                            </div>
                        </div>
                           
                            <div class="diap1">
                            <div class='caroussel_diapo3'>
                                <h3>Evennement : Best of</h3>
                                <input checked id="carou_9" name="rotation" type="radio">
                                <label for="carou_9"></label>
                                <input id="carou_10" name="rotation" type="radio">
                                <label for="carou_10"></label>
                                <input id="carou_11" name="rotation" type="radio">
                                <label for="carou_11"></label>
                                <input id="carou_12" name="rotation" type="radio">
                                <label for="carou_12"></label>
                                <input id="carou_13" name="rotation" type="radio">
                                <label for="carou_13"></label>
                                <input id="carou_14" name="rotation" type="radio">
                                <label for="carou_14"></label>
                                <input id="carou_15" name="rotation" type="radio">
                                <label for="carou_15"></label>
                                <input id="carou_16" name="rotation" type="radio">
                                <label for="carou_16"></label>
                                <div class="contenu_carou3">
                                <div class="caroussel3">
                                <img src="images/a1.jpg" alt>
                                <img src="images/a2.JPG" alt>
                                <img src="images/a3.JPG" alt>
                                <img src="images/a4.JPG" alt>
                                <img src="images/a5.JPG" alt>
                                <img src="images/a6.jpg" alt>
                                <img src="images/a7.jpg" alt>
                                <img src="images/a8.jpg" alt>
                                </div>
                                </div>
                                </div>
                            </div>
                        
</p>

                
</div>
</div>




        <footer class="footer">
            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Informations</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="about_us.html">Qui sommes nous?</a>
                        </li>

                        <li>
                            <a href="accueil.html">Accueil</a>
                        </li>

                        <li>
                            <a href="">Partenariats</a>
                            <a href="https://adaming.fr/" target="_blank" rel="noopener noreferrer"><img src="images/adaming.png" class="footer__img"/></a>
                            <a href="https://www.intiformation.com/" target="_blank" rel="noopener noreferrer"><img src="images/inti.png" class="footer__img"/></a>
                            <a href="https://www.soprasteria.com/" target="_blank" rel="noopener noreferrer"><img src="images/sopra.png" class="footer__img"/></a>
                        </li>
                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Légal</h2>

                    <ul class="nav__ul nav__ul--extra">
                        <li>
                            <a href="CGU.html">CGU</a>
                        </li>

                        <li>
                            <a href="FAQ.html">FAQ</a>
                        </li>

                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Nous joindre</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="mailto:adrien.marmillon@gmail.com">Contacts</a>
                        </li>

                        <li>
                            <a href="">Réseaux</a><br>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class='bi bi-facebook'></i></a>
                            <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="legal">
                <p>&copy; 2022 INTI Formation. All rights reserved.</p>

                <div class="legal__links">
                    <span>Made with <span class="heart">♥</span> by 
                        <a href="https://www.linkedin.com/in/alaric-ermeneg-b812a219b" target="_blank" rel="noopener noreferrer">Alaric</a>, 
                        <a href="https://www.linkedin.com/in/bastien-degraeve/" target="_blank" rel="noopener noreferrer">Bastien</a> & 
                        <a href="http://www.linkedin.com/in/adrien-marmillon" target="_blank" rel="noopener noreferrer">Adrien</a>
                    </span>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>