<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" 
    integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" id="bootstrap-css">
    
        <style>
table {
margin-left:10%;
border: medium solid #6495ed;
border-collapse: collapse;
width: 80%;
}
th {
text-align:center;
font-family: monospace;
border: thin solid #6495ed;
width: 20%;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 20%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}

	
    </style>
    
</head>


<body>
    <div class="container">

        <header class="header">
            <a href="index.html"><img src="images/GRINTI.png" class="logo"></img></a>
            <a href=""><img src="images/drapeau_en.png" class="flag"/></a>
            <a href=""><img src="images/drapeau_fr.jpg" class="flag"/></a>
           
            <div id="navigation">

                <nav>
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li class="deroulant"><a href="">Evénements </a>
                            <ul class="sous">
                                <li><a href="event_list.html">Liste</a></li>
                                <li><a href="create_event.html">Créer</a></li>
                            </ul>
                        </li>
                        <li><a href="infos_pratique.html">Infos pratique</a></li>
                        <li><a href="galerie.html">Galerie</a></li>
                        <li class="deroulant"><a href="">Utilisateurs </a>
                            <ul class="sous">
                                <li><a href="my_information.html">Mes infos</a></li>
                                <li><a href="my_event.html">Mes événements</a></li>
                                <li><a href="all_stats.html">Mes stats</a></li>
                                <li><a href="login.html">Se connecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <div id="corps">
            <h1>Accueil</h1>
            <h5>Bienvenue sur le site de la Grinti</h5>
            <p>Ici vous pourrez trouver tout les événements concernant les événements proche de chez vous de ramassage
                de détritus. Notre objectif, rendre nos plages plus propres et protéger la faune marine. Nos nombreux
                volontaires vous accompagnerons lors des événements pour réaliser nos objectifs.
            </p>
            
            <div class="faq-section">
                <div class="data">
                    <ul>
                        <li>
                            <p>2000</p>
                            <span>Evénements</span>
                        </li>
                        <li>
                            <p>125000</p>
                            <span>Kg de déchets ramassés</span>
                        </li>
                        <li>
                            <p>5000</p>
                            <span>Volontaires</span>
                        </li>
                    </ul>
                </div>
            </div>

            <p>Nous sommes très fiers de ces chiffres et tout cela nous le devons à nos volontaires qui effectuent un travail
            remarquable sur nos plages. Nous avons depuis notre création énormément agrandi nos rangs et remercions
            toutes personnes qui souhaitent participer au nettoyage de nos plages.             
            </p>
            <br>
            <h4 style="text-align: center">Notre Top 5 des volontaires</h4>
            <br>
            <table>
            	<tr>
            		<th>Nom</th>
            		<th>Prénom</th>
            		<th>Nombre d'événements participer</th>
            		<th>Quantité de déchets ramassés</th>            		
            	</tr>
            	<tr>
            		<td>Ermeneg</td>
            		<td>Alaric</td>
            		<td>37</td>
            		<td>115 kg</td>
            	</tr>
            	<tr>
            		<td>Degraeve</td>
            		<td>Bastien</td>
            		<td>35</td>
            		<td>103 kg</td>
            	</tr>
            	<tr>
            		<td>Marmillon</td>
            		<td>Adrien</td>
            		<td>35</td>
            		<td>99 kg</td>
            	</tr>
            	<tr>
            		<td>Abdellaoui</td>
            		<td>Yahya</td>
            		<td>30</td>
            		<td>96 kg</td>
            	</tr>
            	<tr>
            		<td>Smith</td>
            		<td>John</td>
            		<td>24</td>
            		<td>70 kg</td>
            	</tr>
            	

            </table>
           
           <br><br>
           
            <h3 style="text-align:center">Carte des évennements</h3>
            <br>
           <iframe style="margin-left: 20%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5661876.772939369!2d-2.4351770387735456!3d46.139030839903185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1645738536909!5m2!1sfr!2sfr" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>

           

        </div>
<br><br>

        <footer class="footer">
            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Informations</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="about_us.html">Qui sommes nous?</a>
                        </li>

                        <li>
                            <a href="accueil.html">Accueil</a>
                        </li>

                        <li>
                            <a href="">Partenariats</a>
                            <a href="https://adaming.fr/" target="_blank" rel="noopener noreferrer"><img src="images/adaming.png" class="footer__img"/></a>
                            <a href="https://www.intiformation.com/" target="_blank" rel="noopener noreferrer"><img src="images/inti.png" class="footer__img"/></a>
                            <a href="https://www.soprasteria.com/" target="_blank" rel="noopener noreferrer"><img src="images/sopra.png" class="footer__img"/></a>
                        </li>
                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Légal</h2>

                    <ul class="nav__ul nav__ul--extra">
                        <li>
                            <a href="CGU.html">CGU</a>
                        </li>

                        <li>
                            <a href="FAQ.html">FAQ</a>
                        </li>

                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Nous joindre</h2>

                    <ul class="nav__ul">
                        <li>
                            <a href="mailto:adrien.marmillon@gmail.com">Contacts</a>
                        </li>

                        <li>
                            <a href="">Réseaux</a><br>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class='bi bi-facebook'></i></a>
                            <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="legal">
                <p>&copy; 2022 INTI Formation. All rights reserved.</p>

                <div class="legal__links">
                    <span>Made with <span class="heart">♥</span> by 
                        <a href="https://www.linkedin.com/in/alaric-ermeneg-b812a219b" target="_blank" rel="noopener noreferrer">Alaric</a>, 
                        <a href="https://www.linkedin.com/in/bastien-degraeve/" target="_blank" rel="noopener noreferrer">Bastien</a> & 
                        <a href="http://www.linkedin.com/in/adrien-marmillon" target="_blank" rel="noopener noreferrer">Adrien</a>
                    </span>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>